api_platform:
    mapping:
        paths: ['%kernel.project_dir%/config/api_platform'] # yaml or xml directory configuration
        
    title: 'BileMo'
    description: 'A selection of premium smartphones.'
    version: '1.0.0'
    
    formats:
        jsonhal:      ['application/hal+json']
        html:         ['text/html']
    error_formats:
        jsonproblem:  ['application/problem+json']
        
framework:
    serializer:
        enabled: true
        mapping:
            paths:
                - '%kernel.project_dir%/config/serialization' # yaml or xml directory configuration
