# api/config/api_platform/resources.yaml
App\Entity\Product:
    collectionOperations:
        get:
            method: 'GET'
            filters: ['product.search_filter']                             
    itemOperations:
        get:
            method: 'GET'
    attributes:
        normalization_context:
            groups: ['product:read']  
        access_control: 'is_granted("ROLE_CLIENT")'          

App\Entity\User:
    collectionOperations:
        get:
            method: 'GET'
        post:
            method: 'POST'
    itemOperations:
        get:
            method: 'GET'
            access_control: 'object.getClient() == user'
        delete:
            method: 'DELETE'
            access_control: 'object.getClient() == user'
    attributes:
        normalization_context:
            groups: ['user:read']
        denormalization_context:
            groups: ['user:write']
        access_control: 'is_granted("ROLE_CLIENT")'
